/*globals*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#0E1214), to(black));
  background: linear-gradient(#0E1214, black);
  color: white;
  height: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
  width: 80%;
  margin: .5% auto;
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

header #logo-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header #logo-container h2 {
  font-size: 2.1rem;
  margin: auto;
  padding: 0 5px;
  padding-bottom: 10px;
}

header #logo-container h2 a {
  text-decoration: none;
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}

header #logo-container h2 a:hover {
  color: lightgrey;
}

header #logo-container h2 a:hover::after {
  width: 17.5%;
}

header #logo-container h2 a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: lightgrey;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
}

header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .nav-links li {
  list-style-type: none;
}

header nav .nav-links li .nav-link {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 550;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

header nav .nav-links li .nav-link:visited {
  color: white;
}

header nav .nav-links li .nav-link:hover {
  color: lightgrey;
}

header nav .nav-links li .nav-link:hover::after {
  width: 100%;
}

header nav .nav-links li .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: lightgrey;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
}

header nav .nav-links li #contactbtn {
  border: 1px solid white;
  padding: .5rem 1rem;
  border-radius: 5px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

header nav .nav-links li #contactbtn:hover {
  color: grey;
  background-color: white;
}

.myworkdropdown .myworkbtn {
  cursor: pointer;
}

.myworkdropdown:hover .dropdowncontent {
  display: inline-block;
}

.myworkdropdown .dropdowncontent {
  z-index: 1;
  position: absolute;
  display: none;
}

.myworkdropdown .dropdowncontent li {
  -webkit-animation: fadeinDropdown .5s linear;
          animation: fadeinDropdown .5s linear;
}

.myworkdropdown .dropdowncontent li a {
  color: inherit;
}

footer {
  text-align: right;
  padding-right: 1rem;
  font-size: 0.75rem;
}

footer a {
  color: white;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

footer a:hover {
  text-decoration: none;
  color: grey;
}

/**/
.pictype {
  text-align: center;
  padding: 5rem 0;
  -webkit-animation: fadein 1.5s;
          animation: fadein 1.5s;
  font-size: 3rem;
  -webkit-animation: fadein 2.5s;
          animation: fadein 2.5s;
  -webkit-filter: drop-shadow(5px 8px 1px black);
          filter: drop-shadow(5px 8px 1px black);
}

.gallery-container {
  margin: 0 auto;
  width: 75%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row .column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  overflow: hidden;
  text-align: center;
}

.row .column img {
  max-width: 300px;
  width: 100%;
  height: 100%;
  padding-bottom: 2.5rem;
  border-radius: 5px;
}

.column a {
  z-index: 0;
  position: relative;
}

.column a i {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.column a:hover i {
  opacity: 1;
}

.column a img {
  -webkit-filter: drop-shadow(5px 5px 5px black);
          filter: drop-shadow(5px 5px 5px black);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.column a img:hover {
  -webkit-filter: drop-shadow(5px 5px 5px black) blur(2px);
          filter: drop-shadow(5px 5px 5px black) blur(2px);
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

#column1, #column2, #column3, #column4 {
  -webkit-animation: fadein 3.5s;
          animation: fadein 3.5s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadeinOnly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinOnly {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeinDropdown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes fadeinDropdown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.preappear {
  opacity: 0.1;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

.appear {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/**/
@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}
/*# sourceMappingURL=gallery.css.map */