/*globals*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#0E1214, black);
  color: white;
  height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 80%;
    margin: .5% auto;
    animation: fadein 2s;
    #logo-container {
        flex: 2;
        h2 {
            font-size: 2.1rem;
            margin: auto;
            padding: 0 5px;
            padding-bottom: 10px;
            a {
                text-decoration: none;
                color: white;
                transition: color .2s;
                &:hover {
                    font-weight: bold;
                    color: rgb(255, 136, 0);
                    &::after {
                        width: 17.5%;
                    }
                }
                &::after {
                    content:'';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: rgb(255, 136, 0);
                    transition: width .3s ease;
                }
            }
        }
    }
    nav {
        flex: 1;
        .nav-links {
            display: flex;
            justify-content: space-between;
            li {
                list-style-type: none;
                .nav-link {
                    text-decoration: none;
                    font-size: 1.1rem;
                    font-weight: 550;
                    transition: color .2s linear;
                    color: inherit;
                    &:visited {
                        color: white;
                    }
                    &:hover {
                        color: lightgrey;
                        &::after {
                            width: 100%;
                        }
                    }
                    &::after {
                        content:'';
                        display: block;
                        width: 0;
                        height: 2px;
                        background: lightgrey;
                        transition: width .2s ease;
                    }
                }
                #contactbtn {
                    border: 1px solid white;
                    padding: .5rem 1rem;
                    border-radius: 5px;
                    transition: all .2s linear;
                    &:hover {
                        color: grey;
                        background-color: white;
                    }
                }
            }
        }
    }
}
.myworkdropdown {
    .myworkbtn {
        cursor: pointer;
    }
    &:hover .dropdowncontent {
        display: inline-block;
    }
    .dropdowncontent {
        z-index: 1;
        position: absolute;
        display: none;
        li {
            animation: fadeinDropdown .5s linear;
            a {
                color: inherit;
            }
        }
    }
}

/**/
.pictype {
    text-align: center;
    padding: 9rem 0;
    animation: fadein 1.5s;
    font-size: 3rem;
    animation: fadein 2.5s;
    filter: drop-shadow(5px 8px 1px black);
}

.gallery-container {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 4rem;
}

.mobilerows {
    display: flex;
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .mobilerows {
        display: flex;
        .column {
            flex: 25%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            text-align: center;
            margin: 1rem;
            img {
                max-width: 300px;
                width: 100%;
                height: 100%;
                padding-bottom: 2.5rem;
                border-radius: 5px;
            }
        }
    }
}

.column a {
    z-index: 0;
    position: relative;
    i {
      color: white;
      font-size: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all .3s linear;
    }
    &:hover i {
        opacity: 1;
    }
    img {
        filter: drop-shadow(5px 5px 5px black);
        transition: all .3s linear;
        &:hover {
            filter: drop-shadow(5px 5px 5px black) blur(2px);
            transform: scale(0.99);
        }    
    }
}

#column1, #column2, #column3, #column4 {
    animation: fadein 3.5s;
}

.hamburger {
    position: relative;
    display: none;
    margin-left: 90%;
    cursor: pointer;
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 6px 0;
        transition: all 0.4s;
    }
    #burgerdropdowncontent {
        display: none;
        z-index: 1;
        list-style-type: none;
        position: absolute;
        text-align: right;
        transform: translateX(-70%);
        animation: burgerFadein 500ms;
        li {
            padding: 20% 0;
            .burger-nav-link {
                color: white;
            }
        }
    }
}
.change .bar1 { transform: rotate(-45deg) translate(-6.5px, 6px); }
.change .bar2 { opacity: 0; }
.change .bar3 { transform: rotate(45deg) translate(-8px, -8px); }


@keyframes fadein {
  from { opacity: 0; transform: translateY(30px); }
  to   { opacity: 1; transform: translateY(0px); }
}
@keyframes fadeinOnly {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeinDropdown {
    from { opacity: 0; transform: translateY(-20%) }
    to   { opacity: 1; transform: translateY(0%) }
}
@keyframes burgerFadein {
    from { opacity: 0; transform: translate(-70%, -20%) }
    to   { opacity: 1; transform: translate(-70%, 0%) }
}
.preappear {
    opacity: 0.1;
    transform: translateY(20px);
    transition: 1s all ease-in-out;  
}

.appear {
    opacity: 1;
    transform: translateY(0px);
}
/**/
@media screen and (max-width: 1320px) {
    nav { padding-top: 2%; }
    .myworkbtn { text-align: center; }
}

@media screen and (max-width: 768px) {
    .nav-link { display: none; }
    .hamburger { 
        display: inline-block;
    }
    .pictype {
        font-size: 2rem;
    }
    .row {
        .mobilerows {
            display: block;
        }
        display: flex;
        flex-direction: column;
    }
}